.viewport {
  position: relative;
  canvas {
    position: absolute;
    background-color: transparent;
  }
}
.v-snack:not(.v-snack--absolute) {
  z-index: 200;
}
.is-disabled {
  pointer-events: none;
  opacity: 0.5;
}
