.viewport {
  position: relative;
  canvas {
    position: absolute;
    background-color: transparent;
  }
}
.v-snack:not(.v-snack--absolute) {
  z-index: 200;
}
.is-disabled {
  pointer-events: none;
  opacity: 0.5;
}
.chartjs-render-monitor {
  //background-image: url("BACKGROUND_Medium.png");
  //background-image: url("BACKGROUND_Dark.png");
  //background-image: url("BACKGROUND_Light.png");
}
.screen-bg {
  background: url("BACKGROUND_Light.png") no-repeat;
  background-size: cover;
}
.v-snack__wrapper {
  margin: 0px;
  max-width: 672px;
  min-height: 35px;
  min-width: 344px;
  padding: 0;
}
