.viewport {
  position: relative;
  canvas {
    position: absolute;
    background-color: transparent;
  }
}
.v-snack:not(.v-snack--absolute) {
  z-index: 200;
}
.is-disabled {
  pointer-events: none;
  opacity: 0.5;
}
.chartjs-render-monitor {
  //background-image: url("BACKGROUND_Medium.png");
  //background-image: url("BACKGROUND_Dark.png");
  //background-image: url("BACKGROUND_Light.png");
}
.screen-bg {
  background: url("BACKGROUND_Light.png") no-repeat;
  background-size: cover;
}
.v-snack__wrapper {
  max-width: 672px;
  min-height: 35px;
  min-width: 344px;
  padding: 0;
}
.w-100 {
  width: 100%;
}
.v-application .white.chart--white {
  border-color: #005264 !important;
  border: 2px solid;
}
.semi-bold-text {
  font-weight: 500 !important;
}
.bold-text {
  font-weight: 600 !important;
}
.normal-text {
  font-weight: 400 !important;
}
.chart-subtitle {
  color: #005264;
  font-size: 1.1rem;
  line-height: 2rem;
  letter-spacing: 0.0125em !important;
  font-family: "Roboto", sans-serif !important;
  font-weight: 400 !important;
  &.first-col{
    width: 210px;
    display: inline-block;
  }
}
.chart-value {
  background: white;
  text-align: center;
  width: 160px;
  font-size: 1.1rem;
  display: inline-block;
  font-weight: 600 !important;
  padding: 0;
  line-height: 1.5rem;
}
.v-dialog--fullscreen{
  overflow-x: hidden;
}